.item {
    height: 600px;
}

.item img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.ratio-1x1 img {
    object-fit: cover;
}

.box {
    --border-size: 3px;
    --border-angle: 0turn;
    background-image: conic-gradient(from var(--border-angle), rgb(62, 21, 102), rgb(15, 15, 70) 50%, rgb(51, 14, 87)), conic-gradient(from var(--border-angle), transparent 20%, rgb(128, 74, 172), rgb(182, 108, 243));
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

.box:hover {
    animation-play-state: running;
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}